In [1]:
import pandas as pd

In [27]:
df = pd.DataFrame(data=[[2,2,2],[3,3,3],[4,5,5]])
df.head()

   0  1  2
0  2  2  2
1  3  3  3
2  4  5  5

In [28]:
df2 = df+5

In [34]:
def add_item(row, custom_value,val2):
    row

In [35]:
s = pd.Series([20, 21, 12], index=['London', 'New York', 'Helsinki'])

In [36]:
df.apply(add_item, args=(5,10,))

0    None
1    None
2    None
dtype: object